.header{
    display: flex;
    div{
        flex: 80%;
        text-align: center;
    }
    div:first-child,div:nth-of-type(2),div:last-child,div:nth-last-child(2){
        flex: 5%;
    }
}
.body{
    .week{
        display: flex;
        flex-wrap: wrap;
        div{
            flex: 14.28%;
        }
    }
    .months,.years{
        display: flex;
         flex-wrap: wrap;
         div {
             flex: 50%;
         }
    }
}
.center{
    text-align: center;
}
