.img_container{
    position: relative;
    .rank{
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        width: 46px;
        height: 46px;
        font-size: 14px;
        span{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 2px;
        }
        &:before {
            content:'';
            width: 0;
            height: 0;
            border-left: 46px solid transparent;
            border-top: 46px solid #d4451d;
            display: inline-block;
            font-size: 0;
            z-index: -1;
        }
    }
}